body{
    margin:0%;
    height: 100%;
}

.header{
    height: 6.25rem;
}
.header_nav1{
    height: 55%;
    background-color: blueviolet;
    display: flex;
    align-content: center;
    align-items: center;
    
}
#title:hover{
     color:blueviolet;
}
.header_nav1_div{
    padding: 0 1rem;
    color: white;
    font-size:xx-large;
    display: flex;
    align-items: center;
}
#icons_navbar{
    float: right;
    margin-left: auto;
}
#icons_navbar a{
    margin: 0 1rem;
}
.search{
    float: right;
    margin-left: auto;
}
.search input{
    height: 2rem;
    width: 15rem;
    margin-left: 2rem;
}
.search button{
    height: 2rem;
    width: 2.5rem;
    
}
.header_nav2{
    height: 45%;
}
.header_nav2_div{
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.header_nav2_div_a{
    text-decoration: none;
    color: black;
    width: 4rem;
    text-align: center;
    /* box-shadow: 2px 2px 4px black; */
    filter: drop-shadow(0px 0px 2px black);
}
.home_body{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content:center;
}
.display_img{
    width: 100%;
    height:100%;
}
.home_display{
    text-align: center;
    font-size:larger;
    display: flex; 
    justify-content:space-evenly;
    flex-direction: column;
    font-weight: 900;
    background-color: blueviolet;
    width: 3rem;
}
.display_div{
    padding: 0 .5rem;
}


.header_nav2_div_a:hover{
    font-weight: 900;
    font-size: larger;
    filter: drop-shadow(5px 5px 4px black);

}
.fa-solid{
    color: white;
}
.fa-solid:active{
    color: green;
}
.sample{
    max-height: 0px;
    overflow: hidden;
    width: 100px;
    height:85px;
    background-color:blueviolet;
    position: absolute;
    float: right;
    right: 0px;
    top: 55px;
    z-index: 2;
    transition: all .5s ease;
    border-radius: 0 0 0 10px;
}
.visible{
    max-height: 150px;
}
.sample button{
    width: 80%;
    margin: 4% 10%;
    height: 2rem;
    border-radius: 14px;
    border: none;
    font-weight: 900;
    background-color: rgb(255, 104, 48);
    z-index: 3;
}
.sample button:hover {background-color: rgb(255, 137, 94)}

.sample button:active {
  background-color: rgb(255, 137, 94);
  transform: translateY(2px);
}
#visiting_card{
    position: absolute;
    font-size: 17px;
    /* top: calc(50% - 110px); */
    z-index: 12;
    text-align: center;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
}
   
.visiting_card a button{
    text-decoration: none;
    color: black;
    font-weight: 900;
    border: none;
    padding: 10px 8px;
    width: 2rem;
    background: #ffaf8c;
    border-radius:0 8px 8px 0;
    cursor: pointer;
}
#best_Selling_Itemss_Heading{
    margin-left: 3rem;
}
.gallery{
    width: 880px;
    display: flex;
    /* background-color:rgb(216, 174, 255); */
    overflow-x: scroll;
}
.gallery div{
    width: 860px;
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px 10px;
    /* margin: 20px; */
    /* background-color: green; */
    flex: none;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10% auto; */
    background-color:#ffffff;

}
#backbtn, #nextbtn{
    width: 50px;
    cursor: pointer;
    margin:40px;
}
#backbtn:hover,#nextbtn:hover{
    filter: drop-shadow(0px 0px 8px rgb(251, 140, 140));
}

 .gallery div spam{
    width: 100%;
    height: 410px;
}
.best_Selling_Itemss{
    background-color: rgba(210, 210, 210, 0.527);

    width: 100%;
    height: 300px;
}
.gallery div img{
    width: 100%;
    height: 200px;
}
.best_Selling_Itemss h4{
    margin: 0 0 0 .3rem;
    font-weight: 900;
    font-size: larger;
 }
 .best_Selling_Itemss h5{
     margin: 0  0 .3rem .3rem;
 }
 .best_Selling_Itemss h6 {
    font-size: 16px;
    margin: 0  0 .3rem .3rem;
}
 
 .best_Selling_Itemss button{
     margin: 0   .6rem 0 .6rem;
     width: calc(100% - 1.2rem);
     border: none;
     font-size: 15px;
     font-weight: 700;
     background-color: white;
     border: 1px solid blue;
     height: 1.6rem;
 
 }
 .best_Selling_Itemss button:hover{
    background-color: rgb(39, 39, 255);
    border: 1px solid blue;
    color: white;
    cursor: pointer;
}
.best_Selling_Itemss button:active{
    background-color: rgb(116, 116, 255);
    border: 1px solid blue;
    color: white;

}
 .best_Selling_Itemss a i{
    position: relative;
    z-index: 2;
    float: right;
    top: -180px;;
    transform: translateY(-50%);
    right: 10px;
    font-size: x-large;
    cursor: pointer;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 4px black);

}
.best_Selling_Itemss a i:hover{
   filter: drop-shadow(0px 0px 8px rgb(255, 0, 0));
}
.fa-heart:active{
    color: rgb(255, 0, 0);
}
/* .gallery .pady_rights{
    padding-right: 20px;
} */

    
@media(max-width:700px){
    .display_img1{
        display: none;
    }
    .header_nav1_div{
        padding: 0 .2rem;
        font-size:larger;
    }
    #search{
        width: 6rem;
    }
    #icons_navbar a{
        margin: 0 .3rem;
    }
    .search input{
        height: 1.5rem; 
        width: 15rem;
        margin-left: 0;
    }
    .search button{
        height: 1.5rem;
        width: 2.5rem;
    }

    .visiting_card a button{
        border-radius:8px 0 0 8px;
    }

    #visiting_card{
        right: 0;
        left: auto;
        top: 40%;
    }
    #best_Selling_Itemss_Heading{
        margin-left: .5rem;
    }
    







    .gallery{
        width: 880px;
    }
   
    .gallery div{
        width: 567px;

        gap: 5px;
        padding: 10px 0;
    }
    .gallery .pady_rights{
        padding-right: 5px;
    }
    #backbtn, #nextbtn{
        /* display: none; */
        width: 50px;
        cursor: pointer;
        margin:10px;
    }
    
     .gallery div span{
        height: 293px;
    }
    .best_Selling_Itemss{
        background-color: rgba(229, 211, 196, 0.473);
    }
    .gallery div img{
        width: 100%;
        height: 200px;
    }
    .best_Selling_Itemss h4{
        margin: 0 0 0 .3rem;
        font-weight: 900;
        font-size: larger;
     }
     .best_Selling_Itemss h5{
         margin: 0  0 .3rem .3rem;
         font-size: 11px;
     }
     .best_Selling_Itemss h6 {
        font-size: 11px;
        margin: 0  0 .3rem .3rem;
    }
     
     .best_Selling_Itemss a i{
        top: -188px;;
        right: 5px;
    }
    .best_Selling_Itemss button{
        font-size: 12px;
    }

    
}
@media(max-width:400px){
    .header_nav1_div{
        padding: 0 .2rem;
        font-size:medium;
        text-align: center;
    }
}
